/* .content {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.content .main {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
 */
 
 .slideshow_container{
	float: left;
 }

.mySlides .event {
	float: left;
	/* this is the grey line/timeline */
	position: relative;
	top: 49px;
	height: 2px;
	
	background: #dfdfdf;
}
.mySlides .event {
	/* this is used to create the event spot */
	content: '';
	margin-left: 20%;
	position: relative;
	left: 25%;
	right: auto;
	bottom: -5px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 2px solid #dfdfdf;
	background-color: #f8f8f8;
}
