
div .sub p{
	color: #444;
}

div .sub p:nth-child(1){
	color: #000;
}

div .sub{
	margin-bottom: 3%;
}

/* div.description{
	display: none;
}

h3:hover ~ div.description{
	display: inline;
} */

div #description{
	margin-bottom: 15%;
}

div #sub{
	margin-bottom: 5%;
}

#left_col{
	float: left;
	text-align: right;
	width: 34%;
	padding: 0% 10% 0% 5%;
	border-right: 5px dotted black;
}


#right_col{
	float: right;
	text-align: left;
	width: 35%;
	padding: 0% 5% 0% 10%;
}


#section{
	float: left;
	width: 100%;
	margin-bottom: 5%;	
}

#section h3{
	margin-bottom: 5%;
}